body{
    background-color: beige;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
        
}  
H1{
    font-family: fantasy;
    font-size: larger;
        
}
H2{
    font-family: cursive;
    color: yellow;
        
}
H3{
    font-family: monospace;
    font-size: larger;
}


section{
    background-color: aqua;
    
        
}
footer{
    text-align: center
}
summary{
    font-family: inherit;
}
.page-wrapper{
    background: url(NY.jpg);
    padding: 0 175px 0 110px;
    margin:0;
    position:inherit;
        
}
div{
    text-align: left;
    color: purple;
    background: white;
    
    
}
introduction{
    margin: inherit
}