h2{
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    font-weight: 700;
    color: #2C2C2C;
    text-align: center;
    text-decoration: underline;
        
}

p{
    font-family: 'Railway', serif;
    color: #2C2C2C;
    font-size: 140%;
    line-height: 180%;
    text-align: justify;
    font-weight: 300;
}

img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}
.homepage     {
    height: 100%;
    width: 100%;
    margin: auto;
    background:url(IMG_1515.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    overflow-y: auto;
        
}

.about {
     height: 100%;
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    overflow-y: auto;
    
}
.cont{
     height: 100%;
    width: 100%;
    margin: auto;
    background-color:whitesmoke;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    overflow-y: auto;
    
    
}
.serv{
     height: 100%;
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    overflow-y: auto;
}

.porto {
    height:auto;
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
    position: relative;

    
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
        
    
}

.content{
    max-width: 600px;
    margin: auto;

}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 300%;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    padding: 2% 0 0 0;
    text-shadow: 0px 0px 250px #000;
    
    
        
} 
.content{
    color: #FFF;
}

.inner{
    max-width: 600px;
    margin: auto;
    font-size: 170%;
    line-height: 1.6;
    padding: 10px;
}

.off-canvas{
    float: left;
    background-color: black;
    

}
.off-canvas ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%
    
}
.off-canvas ul li{
     font-family: 'Raleway' , sans-serif;
    font-size: 25px;
    padding: 8px 8px 8px 18px;
}
.off-canvas ul li a {
     color: #FFF;
    text-decoration: none;
    
    
}
.off-canvas ul li a:hover{
    text-decoration: underline;
}

nav ul{
    list-style: none;
    float: left;
}

nav ul li {
    font-family: 'Raleway' , sans-serif;
    font-size: 120%;
    
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

Nav ul li a:hover{
    text-decoration: underline;
}
nav ul, nav:active ul {
    display: none;
    padding: 8px 0;
    left: 45px;
    top: 60px;
    width: 20%;
    z-index: 1000;
}

nav li {
    width: 100%;
    padding: 8px 0 10px 7px;
    margin: 0;
}
nav:hover ul {
    display: block;
    position: absolute;
    right: 10%;
}
#menu-icon {
    width: 30px;
    height: 26px;
    background: url(nav-icon.png)  center;
    display: inline-block;
    margin: 50px 0 0 50px;
    color: black;
}

.left-col {
    width: 60%;
    float: left;
    margin: 4% 0 4% 4%;
        
}
.sidebar {
    width: 30%;
    float: left;
    margin: 3%;
}
.one-third-port {
    width: 29.333333%;
    padding: 1%;
    float: left;
}

.one-third-port img:hover {
    opacity: .4;
}
.contact p {
    text-align: center;
    letter-spacing: 5px;
    
}
.contact a {
    color: #2C2C2C;
    text-decoration: none;
}

.break{
    display: block;
}
.clearfix {
    clear: both;
    height: 3%;
}
.parallax{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq1bftQOZcpWGxt4XmLLQ4SD6DEXx1u4Dz43vBs46Z4EkPiQue") repeat fixed 100%;
    opacity: .5;
}

.parallax-inner{
    padding-top: 17%;
}

.social {
    list-style-type: none;
    text-align: center
    
}

.social li {
    display: inline;
}

.social i {
    font-size: 270%;
    margin: 1% 5% 7% 4%;
    color: #2C2C2C;   
}
.social i:hover {
    color: #606060;
}
footer.second {
    background-color: #2C2C2C;
}
footer.second p {
    color: #FFF;
    text-align: center;
    padding: 5%;
}

@media screen and (max-width: 768px) {
    #menu-icon {
        margin: 26px 0 0 26px;
    }
    nav ul, nav:active ul {
        padding: 8px 0;
        left: 23px;
        top: 34px;
        width: 50%;
    }
    .off-canvas ul, off-canvas:active ul {
         padding: 8px 0;
        left: 23px;
        top: 34px;
        width: 50%;
        font-size: 18px;
    }
    .inner {
        font-size: 120%;
    }
    .content h1 {
        font-size: 180%;
    }
    p {
        font-size: 120%;
    }
    h2 {
        font-size: 160%;
    }
    .left-col {
        width: 96%;
        margin: 0 0 3% 0;
        padding: 0 2%;
    }
    .sidebar {
        width: 96%;
        margin: 0 auto;
    }
    img {
        padding: 2%;
    }
    .one-third-port {
        width: 96%;
        margin: 0 auto;
        padding: 0;
    }
    .break {
        display: block;
    }
    .parallax {
        display: none;
    }
    .social i {
        font-size: 170%;
    }
}










